@page "/gallery"
@inject HttpClient Http


<p>These are smaller thumbnails to download faster. Click on an image to see the full size file.</p>

@if (files == null)
{
    <p><em>Loading...</em></p>
}
else
{
    int i = 0;

    @while (i < files.Length)
    {
                 <a href="/Photos/Kew072022/@files[i]">
                    <img src="/Photos/Kew072022/thumbs/@files[i]" class="rounded img-fluid p-2" />
                </a>
        i++;
    }
}

@code {
    private String[] files;

    protected override async Task OnInitializedAsync()
    {
        const string path = @"Photos\Kew072022\";

        var temp = await Http.GetStringAsync(path + "list.txt");

        files = temp.Split(Environment.NewLine);
    }

}