@page "/"

<h1>Kew Gardens July 2022 </h1>

Both List and Gallery show the same files just displayed differently. <br />
Gallery loads the files as thumbnails (so is faster). 


<a href="Photos/Kew072022/All.zip">Download All (zipfile)</a>
