@page "/"

    <div class="jumbotron">

        <h1 class="text-center">Kew Gardens July 2022 </h1>

        Both List and Gallery show the same files just displayed differently.<br /> Gallery loads the files as thumbnails (so is faster).

        <p />
        <i>Any problems ask Mike : ) </i>

   

    </div>












