@page "/"

    <div class="jumbotron">

        <h1 class="text-center">Kew Gardens July 2022 </h1>

        Both List and Gallery show the same files just displayed differently.<br /> Gallery loads the files as thumbnails (so is faster).

        <p />
        <i>Any problems ask Mike : ) </i>

   

    </div>

    <h3>Edits by Mike</h3>
    <p>These are smaller thumbnails to download faster. Click on an image to see the full size file.</p>



    <a href="/Photos/Kew072022/EditsByMike/4K3A0014.JPG">
        <img src="/Photos/Kew072022/EditsByMike/thumbs/4K3A0014.JPG" class="rounded  p-2" height="300">
    </a>

    <a href="/Photos/Kew072022/EditsByMike/4K3A0128.JPG">
        <img src="/Photos/Kew072022/EditsByMike/thumbs/4K3A0128.JPG" class="rounded  p-2" height="300">
    </a>

    <a href="/Photos/Kew072022/EditsByMike/4K3A0201.JPG">
        <img src="/Photos/Kew072022/EditsByMike/thumbs/4K3A0201.JPG" class="rounded  p-2" height="300">
    </a>

    <a href="/Photos/Kew072022/EditsByMike/4K3A0142.JPG">
        <img src="/Photos/Kew072022/EditsByMike/thumbs/4K3A0142.JPG" class="rounded  p-2" height="300">
    </a>

    <a href="/Photos/Kew072022/EditsByMike/4K3A0161.JPG">
        <img src="/Photos/Kew072022/EditsByMike/thumbs/4K3A0161.JPG" class="rounded  p-2" height="300">
    </a>

    <a href="/Photos/Kew072022/EditsByMike/4K3A0137.JPG">
        <img src="/Photos/Kew072022/EditsByMike/thumbs/4K3A0137.JPG" class="rounded  p-2" height="300">
    </a>



    <a href="/Photos/Kew072022/EditsByMike/4K3A0204.JPG"><img src="/Photos/Kew072022/EditsByMike/thumbs/4K3A0204.JPG" class="rounded  p-2" height="300"></a>












